.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.appTitle {
  text-align: center;
  font-size: 30px;
}

.sign-up-form-wrapper {
  margin: 40px auto;
  background: lightgray;
  padding: 30px;
}

.sign-up-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.checkbox-wrapper,
.input-wrapper    {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
.input-wrapper label {
  padding-right: 30px;;
}

.checkbox-wrapper input {
  width: 20px;
  display: inline-block;
  margin: 0;
  margin-right: 10px;;
}

.error {
  color: red;
  position: absolute;
  font-size: 10px;
  bottom: -17px;
}